@font-face {
    font-family: 'JosefinSansBold';
    src: url('../webfonts/Josefin_Sans/josefinsans-bold-webfont.eot');
    src: url('../webfonts/Josefin_Sans/josefinsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Josefin_Sans/josefinsans-bold-webfont.woff') format('woff'),
         url('../webfonts/Josefin_Sans/josefinsans-bold-webfont.ttf') format('truetype'),
         url('../webfonts/Josefin_Sans/josefinsans-bold-webfont.svg#JosefinSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'JosefinSansBoldItalic';
    src: url('../webfonts/Josefin_Sans/josefinsans-bolditalic-webfont.eot');
    src: url('../webfonts/Josefin_Sans/josefinsans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Josefin_Sans/josefinsans-bolditalic-webfont.woff') format('woff'),
         url('../webfonts/Josefin_Sans/josefinsans-bolditalic-webfont.ttf') format('truetype'),
         url('../webfonts/Josefin_Sans/josefinsans-bolditalic-webfont.svg#JosefinSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'JosefinSansItalic';
    src: url('../webfonts/Josefin_Sans/josefinsans-italic-webfont.eot');
    src: url('../webfonts/Josefin_Sans/josefinsans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Josefin_Sans/josefinsans-italic-webfont.woff') format('woff'),
         url('../webfonts/Josefin_Sans/josefinsans-italic-webfont.ttf') format('truetype'),
         url('../webfonts/Josefin_Sans/josefinsans-italic-webfont.svg#JosefinSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'JosefinSansLight';
    src: url('../webfonts/Josefin_Sans/josefinsans-light-webfont.eot');
    src: url('../webfonts/Josefin_Sans/josefinsans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Josefin_Sans/josefinsans-light-webfont.woff') format('woff'),
         url('../webfonts/Josefin_Sans/josefinsans-light-webfont.ttf') format('truetype'),
         url('../webfonts/Josefin_Sans/josefinsans-light-webfont.svg#JosefinSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'JosefinSansLightItalic';
    src: url('../webfonts/Josefin_Sans/josefinsans-lightitalic-webfont.eot');
    src: url('../webfonts/Josefin_Sans/josefinsans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Josefin_Sans/josefinsans-lightitalic-webfont.woff') format('woff'),
         url('../webfonts/Josefin_Sans/josefinsans-lightitalic-webfont.ttf') format('truetype'),
         url('../webfonts/Josefin_Sans/josefinsans-lightitalic-webfont.svg#JosefinSansLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'JosefinSansRegular';
    src: url('../webfonts/Josefin_Sans/josefinsans-regular-webfont.eot');
    src: url('../webfonts/Josefin_Sans/josefinsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Josefin_Sans/josefinsans-regular-webfont.woff') format('woff'),
         url('../webfonts/Josefin_Sans/josefinsans-regular-webfont.ttf') format('truetype'),
         url('../webfonts/Josefin_Sans/josefinsans-regular-webfont.svg#JosefinSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'JosefinSansSemiBold';
    src: url('../webfonts/Josefin_Sans/josefinsans-semibold-webfont.eot');
    src: url('../webfonts/Josefin_Sans/josefinsans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Josefin_Sans/josefinsans-semibold-webfont.woff') format('woff'),
         url('../webfonts/Josefin_Sans/josefinsans-semibold-webfont.ttf') format('truetype'),
         url('../webfonts/Josefin_Sans/josefinsans-semibold-webfont.svg#JosefinSansSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'JosefinSansSemiBoldItalic';
    src: url('../webfonts/Josefin_Sans/josefinsans-semibolditalic-webfont.eot');
    src: url('../webfonts/Josefin_Sans/josefinsans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Josefin_Sans/josefinsans-semibolditalic-webfont.woff') format('woff'),
         url('../webfonts/Josefin_Sans/josefinsans-semibolditalic-webfont.ttf') format('truetype'),
         url('../webfonts/Josefin_Sans/josefinsans-semibolditalic-webfont.svg#JosefinSansSemiBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'AldrichRegular';
    src: url('../webfonts/Aldrich/aldrich-regular-webfont.eot');
    src: url('../webfonts/Aldrich/aldrich-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Aldrich/aldrich-regular-webfont.woff') format('woff'),
         url('../webfonts/Aldrich/aldrich-regular-webfont.ttf') format('truetype'),
         url('../webfonts/Aldrich/aldrich-regular-webfont.svg#AldrichRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'JosefinSansThin';
    src: url('../webfonts/Josefin_Sans/josefinsans-thin-webfont.eot');
    src: url('../webfonts/Josefin_Sans/josefinsans-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Josefin_Sans/josefinsans-thin-webfont.woff') format('woff'),
         url('../webfonts/Josefin_Sans/josefinsans-thin-webfont.ttf') format('truetype'),
         url('../webfonts/Josefin_Sans/josefinsans-thin-webfont.svg#JosefinSansThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

a:link, a:visited, a:hover, a:active {
	color: #4f5787;
	text-decoration:none;
}
a:visited {
	color: #6774b4;
}

body, body p { 
	font-family: Helvetica, sans-serif; 
	font-size:11px;
	line-height:18px;
	color:#333;
}

.content h1, .content h2, .content h3, .content h4 {
	color: #4F5787;
    display: block;
    font-family: "JosefinSansBold";
    text-transform: uppercase;
	margin-top:10px;
	margin-bottom:7px;
	letter-spacing: 4px;
}
.content h3 {
	font-size:12px;
}

.content ul {
	list-style-type:disc;
	list-style-position:inside;
}
.content ul li {
	font-family:Helvetica,sans-serif;
	font-size:12px;
	line-height:18px;
}
.header .primary li a{ 
	padding: 2px 8px;
	font-weight: bold;
	display: block;
	font-family:'JosefinSansSemiBold', Arial; 
	text-transform:uppercase; 
	font-size:11px; 
	color:#666;
	text-decoration:none; 
	text-align:center; 
}
.header .primary ul li.last { margin-right:0; }
.header .primary li.current a { color:#aaa; }
.header .primary li a:hover {
    color: #fff
}
.header .primary li.section a,
.header .primary li.current a {
color: #fff
}

.secondary li a {
    padding: 8px 0 6px 0;
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-size: 8px;
    color: #666;
    line-height: 17px;
    font-family: 'AldrichRegular', 'Lucida Grande', Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.secondary li a .text:first-letter { font-size:10px; }
.secondary li:hover a .text { color: #663333; }

div.content-container h1 { display:none; }

body.ServicesPage div.main h1 {
	margin-bottom:12px;
}

.no-sidebar div.content-container h1, .secondary h1, body.ServicesPage div.inner h1 { 
	display:block;
	font-family: "JosefinSansBold";
	font-size:16px;
	letter-spacing:10px;
	color:#4f5787;
	text-transform:uppercase;
}
.news-details p {
	font-style:italic;
}
.header-anchor {
	cursor:pointer;
}
.footer .primary a, a.back-link {
	font-family: 'AldrichRegular',Arial,sans-serif;
	text-transform:uppercase;
	font-size:10px;
	display:inline-block;
}
.footer .primary a:first-letter, a.back-link:first-letter{
	font-size:120%;
}
